@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

div#__next {
  position: relative;
}

div#__next::before {
  content: 'Bloqueada';
  background: #D42121;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px 4px 8px;
  left: 32px;
  bottom: 35px;
  position: absolute;
  z-index: 1;
}

.card {
  background: linear-gradient(-45deg, rgb(255, 110, 0) 0%, rgb(255, 162, 58) 100%);
  border-radius: 12px;
  margin: 16px;
  width: 328px;
  height: 202px;
  background-image: url(https://raw.githubusercontent.com/aurisolado/pomelo-styles/main/bg_imony_2.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.50;
  filter: grayscale(100%);
}

.card:before {
  content: url(https://raw.githubusercontent.com/aurisolado/pomelo-styles/main/iMonyBlanco.png);
  position: absolute;
  left: 18px;
  top: 18px;
}

.card::after {
  content: '';
  position: absolute;
  right: 18px;
  bottom: 35px;
  background-image: url(https://raw.githubusercontent.com/aurisolado/pomelo-styles/main/visa-white.png);
  background-size: cover;
  background-position: center;
  height: 28px;
  width: 90px;
}

.card .pan {
  position: absolute;
  top: 5rem;
  margin-left: 0;
  color: rgb(255, 255, 255);
}

.card .exp-code-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.5rem;
  margin: 0;
  gap: 32px;
  position: absolute;
  top: 21px;
  font-size: 16px;
  font-weight: 400;
  right: 46px;
}

div#exp-code-container::before {
  content: 'CRÉDITO';
  position: absolute;
  top: 0px;
}

.card .name {
  position: absolute;
  top: 2.5rem;
  margin: 0;
}

.card .expiration-date,
.card .pin,
.card .security-code,
.card .name {
  color: rgb(255, 255, 255);
}

.card .error {
  position: absolute;
  top: 3rem;
}

.activation-form .pan-input,
.activation-form .pin-input {
  color: #1d1d1d;
  margin: 0 0 24px;
  -webkit-font-smoothing: antialiased;
  align-self: flex-end;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border-color: rgb(219, 220, 225);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  font-size: 16px;
  font-weight: inherit;
  height: 100%;
  outline: none;
  padding: 18px 48px 18px 42px;
  position: relative;
  text-decoration: inherit;
  text-transform: inherit;
  transition: color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  width: 100%;
  will-change: border-color, background-color, color;
}

.activation-form .pan-input:focus:not(:disabled):not(:valid),
.activation-form .pin-input:focus:not(:disabled):not(:valid) {
  border-color: #1d1d1d;
  box-shadow: rgba(29, 29, 33, 0.03) 0px 0px 0px 6px;
}

.activation-form .pan-input::placeholder,
.activation-form .pin-input::placeholder {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: inherit;
  left: 36px;
  margin-top: 1px;
  pointer-events: none;
  bottom: 18px;
  position: absolute;
  transform-origin: left bottom;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  white-space: nowrap;
  will-change: transform, scale;
  width: auto;
}

.activation-form .pan-input:focus::placeholder,
.activation-form .pin-input:focus::placeholder {
  color: transparent;
}

.activation-form .submit-button {
  border-radius: 4px;
  background-color: #FF6E00;
  padding: 0.75rem 1.25rem;
  margin: 10px 0 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
}

.activation-form .submit-button:hover,
.activation-form .submit-button:focus {
  background-color: rgb(195, 82, 0);
  border: 1px solid rgb(195, 82, 0);
}